<style>
body {
  font-family: "Monaco";
  font-size: 30px;
  font-color: #000000;
}

li {
  list-style: none;
  float: right;
  padding: 30px 30px;
}

.header {
  background-color: #e6ccff;
  color: #ffffff;
  height: 80px;
}

.header-logo {
  float: left;
  font-size: 15px;
  padding: 20px 30px;
}

.top-wrapper {
  padding: 80px 100px;
  padding-top: 100px;
  padding-bottom: 200px;
}

.img {
   float: center;
   max-width: 60%;
   height: auto;
}

.footer {
  background-color: #e6ccff;
  font-color: #ffff00;
  height: 90px;
}
</style>
